          <section id="content" class="s-content">
                <div class="swiper-pagination"></div>
              </div>
              <a href="#bricks" class="hero__scroll-down smoothscroll">
                <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M10.25 6.75L4.75 12L10.25 17.25"></path>
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19.25 12H5"></path>
                </svg>
                <span>Scroll</span>
              </a>
            </div>
            <div id="bricks" class="bricks">
              <div class="masonry">
                <div class="bricks-wrapper" data-animate-block>
                  <div class="grid-sizer"></div>
            {% include 'article-snippet.njk' %}
                </div>
              </div>
            </div>
          </section>
