  <!DOCTYPE html>
  <html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Net Blog | {{ title }} </title>
    <script>
      document.documentElement.classList.remove('no-js');
      document.documentElement.classList.add('js');
    </script>
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="../vendor.css">
    </head>
  <body id="top">    
    <div id="page" class="s-pagewrap ss-home">
            {% include "header.njk" %}
            {{ content | safe }}
            {% include "footer.njk" %}
          </section>
        <script src="./public/src/plugins.js"></script>
        <script src="./public/src/main.js"></script>
        <script> if (window.netlifyIdentity) { 
            window.netlifyIdentity.on("init", user => { 
              if (!user) {
                window.netlifyIdentity.on("login", () => {
                  document.location.href = "/admin/"; 
                });
              } 
            });
          }
        </script>
        </body>
      </html>
