            <div class="hero">
              <div class="hero__slider swiper-container">
                <div class="swiper-wrapper">
                  <article class="hero__slide swiper-slide">
                    <div class="hero__entry-image" style="background-image: url('./public/images/featured-01_2000.jpg');"></div>
                    <div class="hero__entry-text">
                      <div class="hero__entry-text-inner">
                        <div class="hero__entry-meta">
                          <span class="cat-links">
                            <a href="/category/inspiration/" >Inspiration</a>
                          </span>
                        </div>
                        <h2 class="hero__entry-title">
                          <a href="single-standard.html">
                            “You do not find the HAPPY Life. You make it.”
                            </a>
                        </h2>
                        <p class="hero__entry-desc">
                          
                        </p>
                        <a class="hero__more-link" href="single-standard.html">Read More</a>
                      </div>
                    </div> 
                  </article>
                  <article class="hero__slide swiper-slide">
                    <div class="hero__entry-image" style="background-image: url('/images/featured-02_2000.jpg');"></div>
                    <div class="hero__entry-text">
                      <div class="hero__entry-text-inner">
                        <div class="hero__entry-meta">
                          <span class="cat-links">
                            <a href="/category/health/" >Health</a>
                          </span>
                        </div>
                        <h2 class="hero__entry-title">
                          <a href="single-standard.html">
                           Health is the Greatest possession.
                          </a>
                        </h2>
                        <p class="hero__entry-desc">
                          
                        </p>
                        <a class="hero__more-link" href="single-standard.html">Read More</a>
                      </div>
                    </div>
                  </article>
                  <article class="hero__slide swiper-slide">
                    <div class="hero__entry-image" style="background-image: url('images/thumbs/featured/featured-03_2000.jpg');"></div>
                    <div class="hero__entry-text">
                      <div class="hero__entry-text-inner">
                        <div class="hero__entry-meta">
                          <span class="cat-links">
                            <a href="Category/lifestyle/lifestyle.html" >Lifestyle</a>
                          </span>
                        </div>
                        <h2 class="hero__entry-title">
                          <a href="single-standard.html">
                            The 90 days to make a Lifestyle
                          </a>
                        </h2>
                        <p class="hero__entry-desc">
                          21 Days For a Habbit and 90 Days for a Lifestyle only
                        </p>
                        <a class="hero__more-link" href="single-standard.html">Read More</a>
                      </div>
                    </div>
                  </article> 
                  <article class="hero__slide swiper-slide">
                    <div class="hero__entry-image" style="background-image: url('images/thumbs/featured/featured-01_2000.jpg');"></div>
                    <div class="hero__entry-text">
                      <div class="hero__entry-text-inner">
                        <div class="hero__entry-meta">
                          <span class="cat-links">
                            <a href="/category/news/" >News</a>
                          </span>
                        </div>
                        <h2 class="hero__entry-title">
                          <a href="single-standard.html">
                            Beauty isn't in the face .Its in the Heart
                            </a>
                        </h2>
                        <p class="hero__entry-desc">
                          
                        </p>
                        <a class="hero__more-link" href="single-standard.html">Read More</a>
                      </div>
                    </div>
                  </article>
                </div>                
                <div class="swiper-pagination"></div>
              </div>
              </div>
