<div class="hero">
    <div class="hero__slider swiper-container">
        <div class="swiper-wrapper">
            <article class="hero__slide swiper-slide">
                    <div class="hero__entry-image" style="background-image: url('/images/hero/hero-gaming-01.jpg');"></div>
                    <div class="hero__entry-text">
                      <div class="hero__entry-text-inner">
                        <div class="hero__entry-meta">
                          <span class="cat-links">
                            <a href="/category/gaming/" >Gaming</a>
                          </span>
                        </div>
                        <h2 class="hero__entry-title">
                          <a href="/category/gaming/">Improve Your Gaming Skils With Our Tips & Tricks.
                            </a>
                        </h2>                              
                        <a class="hero__more-link" href="/category/gaming/">Read More</a>
                      </div>
                    </div>
                    </article>
            <article class="hero__slide swiper-slide">
                    <div class="hero__entry-image" style="background-image: url('/images/hero/hero-health-01.jpg');"></div>
                    <div class="hero__entry-text">
                      <div class="hero__entry-text-inner">
                        <div class="hero__entry-meta">
                          <span class="cat-links">
                            <a href="/category/health/" >Health</a>
                          </span>
                        </div>
                        <h2 class="hero__entry-title">
                          <a href="/category/health/">Stay Healthy Know Diet For Your Age.
                          </a>
                        </h2>
                        <p class="hero__entry-desc">         
                        </p>
                        <a class="hero__more-link" href="/category/health/">Read More</a>
                      </div>
                    </div>
                    </article>
            <article class="hero__slide swiper-slide">
                    <div class="hero__entry-image" style="background-image: url('/images/movie-hero-01.jpg');"></div>
                    <div class="hero__entry-text">
                      <div class="hero__entry-text-inner">
                        <div class="hero__entry-meta">
                          <span class="cat-links">
                            <a href="/category/inspiration/" >Movie</a>
                          </span>
                        </div>
                        <h2 class="hero__entry-title">
                          <a href="/category/movie/">Download Movie Easlisy and Fast Without Ads
                            </a>
                        </h2>
                        <p class="hero__entry-desc">                   

                        </p>
                        <a class="hero__more-link" href="/category/movie/">Read More</a>
                      </div>
                    </div> 
                  </article>
            <article class="hero__slide swiper-slide">
                    <div class="hero__entry-image" style="background-image: url('/images/movie-hero-02.jpg');"></div>
                    <div class="hero__entry-text">
                      <div class="hero__entry-text-inner">
                        <div class="hero__entry-meta">
                          <span class="cat-links">
                            <a href="/category/movie/" >Movie</a>
                          </span>
                        </div>
                        <h2 class="hero__entry-title">
                          <a href="/category/movie/">
                           Get The Latest Movie Hollywood, Bollywood, ... 
                          </a>
                        </h2>
                        <p class="hero__entry-desc">                       

                        </p>
                        <a class="hero__more-link" href="/category/movie/">Read More</a>
                      </div>
                    </div>
                  </article>
            <article class="hero__slide swiper-slide">
                    <div class="hero__entry-image" style="background-image: url('/images/hero/news-hero-01.jpg');"></div>
                    <div class="hero__entry-text">
                      <div class="hero__entry-text-inner">
                        <div class="hero__entry-meta">
                          <span class="cat-links">
                            <a href="/category/news/" >News</a>
                          </span>
                        </div>
                        <h2 class="hero__entry-title">
                          <a href="/category/news/">Get Latest News Easlisy Without Ads
                            </a>
                        </h2>
                        <p class="hero__entry-desc">
                        </p>
                        <a class="hero__more-link" href="/category/news/">Read More</a>
                      </div>
                    </div> 
                  </article>
            <article class="hero__slide swiper-slide">
                    <div class="hero__entry-image" style="background-image: url('/images/hero/news-hero-02.png');"></div>
                    <div class="hero__entry-text">
                      <div class="hero__entry-text-inner">
                        <div class="hero__entry-meta">
                          <span class="cat-links">
                            <a href="/category/news/" >News</a>
                          </span>
                        </div>
                        <h2 class="hero__entry-title">
                          <a href="/category/news/">
                           Get The Real and To The Point News.
                          </a>
                        </h2>
                        <p class="hero__entry-desc">
                        </p>
                        <a class="hero__more-link" href="/category/news/">Read More</a>
                      </div>
                    </div>
                  </article>
            <article class="hero__slide swiper-slide">
                <div class="hero__entry-image" style="background-image: url('/images/hero-personal-development-01.jpg');"></div>
                <div class="hero__entry-text">
                    <div class="hero__entry-text-inner">
                        <div class="hero__entry-meta">
                            <span class="cat-links">
                                <a href="/category/health/" >Personal Development</a>
                            </span>
                        </div>
                        <h2 class="hero__entry-title">
                            <a href="/category/health/">Stay Healthy Know Diet For Your Age.</a>
                        </h2>
                        <p class="hero__entry-desc">
                        </p>
                        <a class="hero__more-link" href="/category/health/">Read More</a>
                    </div>
                </div>
                </article>
        </div>                
        <div class="swiper-pagination"></div>
    </div>
