            <div class="hero">
              <div class="hero__slider swiper-container">
                <div class="swiper-wrapper">
                  <article class="hero__slide swiper-slide">
                    <div class="hero__entry-image" style="background-image: url('/images/hero/news-hero-01.jpg');"></div>
                    <div class="hero__entry-text">
                      <div class="hero__entry-text-inner">
                        <div class="hero__entry-meta">
                          <span class="cat-links">
                            <a href="/category/news/" >News</a>
                          </span>
                        </div>
                        <h2 class="hero__entry-title">
                          <a href="/category/news/">Get Latest News Easlisy Without Ads
                            </a>
                        </h2>
                        <p class="hero__entry-desc">
                        </p>
                        <a class="hero__more-link" href="/category/news/">Read More</a>
                      </div>
                    </div> 
                  </article>
                  <article class="hero__slide swiper-slide">
                    <div class="hero__entry-image" style="background-image: url('/images/hero/news-hero-02.png');"></div>
                    <div class="hero__entry-text">
                      <div class="hero__entry-text-inner">
                        <div class="hero__entry-meta">
                          <span class="cat-links">
                            <a href="/category/news/" >News</a>
                          </span>
                        </div>
                        <h2 class="hero__entry-title">
                          <a href="/category/news/">
                           Get The Real and To The Point News.
                          </a>
                        </h2>
                        <p class="hero__entry-desc">
                        </p>
                        <a class="hero__more-link" href="/category/news/">Read More</a>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="swiper-pagination"></div>
              </div>
              
