---
layout: "base.njk"
---

<article class="brick entry" data-animate-el>
    <div class="entry__thumb">
        <a class="thumb-link">
            <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}">
        </a>
    </div>
    <div class="entry__text">
        <div class="entry__header">
            <div class="entry__meta">
                <span class="cat-links">
                    <a >{{ category }}</a>
                </span>
                <span class="byline">
                    By:
                    <a href="#0">{{ author }} on {{ date }}</a>
                </span>
            </div>
            <h1 class="entry__title"><a href="">{{ title }}</a></h1>
        </div>
        <div class="entry__excerpt">
            <p>
                {{ content | safe }} Content Safe
            </p>
        </div>
    </div>
</article>
