            <div class="hero">

              <div class="hero__slider swiper-container">

                <div class="swiper-wrapper">

                  <article class="hero__slide swiper-slide">

                    <div class="hero__entry-image" style="background-image: url('/images/hero-technology-01.jpeg');"></div>

                    <div class="hero__entry-text">

                      <div class="hero__entry-text-inner">

                        <div class="hero__entry-meta">

                          <span class="cat-links">

                            <a href="/category/technology/" >Technology</a>

                          </span>

                        </div>

                        <h2 class="hero__entry-title">

                          <a href="/category/technology/">Stay Updated About New Technology Wth Us.

                            </a>
                        </h2>
                        <p class="hero__entry-desc">              

                        </p>
                        <a class="hero__more-link" href="/category/technology/">Read More</a>
                      </div>
                    </div>
                </div>            
                <div class="swiper-pagination"></div>
              </div>              
