---

title: Movie
layout: "base.njk"

---
          <section id="content" class="s-content">
          {% include 'movie-hero.njk' %}
              <a href="#bricks" class="hero__scroll-down smoothscroll">
                <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M10.25 6.75L4.75 12L10.25 17.25"></path>
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19.25 12H5"></path>
                </svg>
                <span>Scroll</span>
              </a>
            </div>
            <div id="bricks" class="bricks">
              <div class="masonry">
                <div class="bricks-wrapper" data-animate-block>
                  <div class="grid-sizer"></div>
            {%-  for post in collections.movie | reverse  -%}
                 <article class="brick entry" data-animate-el>
                    <div class="entry__thumb">
                      <a class="thumb-link">
                        <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}">
                      </a>
                    </div>
                    <div class="entry__text">
                      <div class="entry__header">
                        <div class="entry__meta">
                          <span class="cat-links">
                            <a >{{ post.data.category }}</a>
                          </span>
                          <span class="byline">
                            By:
                            <a href="#0">{{ post.data.author }} on {{ post.date | postDate }}</a>
                          </span>
                        </div>
                        <h1 class="entry__title"><a href="{{ post.url }} ">{{ post.data.title }}</a></h1>
                      </div>
                      <div class="entry__excerpt">
                        <p>
                            {{ post.data.desc }}
                        </p>
                      </div>
                      <a class="entry__more-link" href="{{ post.url }}" >Read More</a>
                    </div>
                  </article>
            {%- endfor -%}
                </div>
              </div>
              <div class="row pagination">
                <div class="column lg-12">
                  <nav class="pgn">
                    <ul>
                      <li>
                        <a class="pgn__prev" href="#0">
                          <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M10.25 6.75L4.75 12L10.25 17.25"></path>
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19.25 12H5"></path>
                          </svg>
                        </a>
                      </li>
                      <li><a class="pgn__num current" href="#bricks">1</a></li>
                      <li><a class="pgn__num" href="#0" >2</a></li>
                      <li><a class="pgn__num" href="#0">3</a></li>
                      <li><a class="pgn__num" href="#0">4</a></li>
                      <li><a class="pgn__num" href="#0">5</a></li>
                      <li><span class="pgn__num dots">…</span></li>
                      <li><a class="pgn__num" href="#0">8</a></li>
                      <li>
                        <a class="pgn__next" href="#0">
                          <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M13.75 6.75L19.25 12L13.75 17.25"></path>
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19 12H4.75"></path>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </section>
